---
import Layout from '../layouts/Layout.astro';
import { getBlogs } from "../libs/microcms";

// MicroCMSの呼び出し
const response = await getBlogs({ fields: ["id", "title", "image","title2"] });
---

<link rel="stylesheet" href="/styles/common.css" />

<Layout title="m-wine-blog">

	<header class="header">
		<h1 class="header__name">
			<a href="dummy" class="header__name-link">MAKI KASHU</a>
		</h1>
		<nav class="header__nav">

			<ul class="nav-list">
				<li class="nav-list__item">
					<a href="dummy" class="nav-list__link">About</a>
				</li>
				<li class="nav-list__item">
					<a href="dummy" class="nav-list__link">Contact</a>
				</li>
			</ul>
			<!-- nav-list -->

		</nav>
	</header>
	<!-- header -->

		<div class="kv">
			<div class="kv__img">
				<img src="/assets/kv_img.jpg" alt="" width="1260" height="550">
			</div>
		</div>
		<!-- kv -->
	 
	<main class="main">

		<section class="section1">

			<h2 class="ttl1">WINE RECORD</h2>
			<!-- ttl1 -->

			<ul class="wine-list">
			{response.contents.map((blog: any) => (
			<li class="wine-list__item">
				<a class="wine-list__link" href={blog.id}>
					<div class="wine-img">
						{blog.image?.url && (
                    	<img src={blog.image.url} alt={blog.title} />
                  		)}
					</div>
					<div class="wine__list-content">
						<span class="wine-list__ttl">{blog.title}</span>
						<div class="wine-list__txt" set:html={blog.title2}></div>
					</div>
				<span class="wine-list__detail">See more >></span>
				</a>
			</li>
			))
			}
		</ul>
		<!-- wine-list -->

		</section>
		<!-- section1 -->

		<section class="section2">

			<h2 class="ttl1">ABOUT ME</h2>
			<!-- ttl1 -->

			<div class="about">
				<ul class="about__content">
					<li class="about__img">
						<img src="/assets/img_profile.png" alt="" width="100" height="200">
					</li>
					<li class="about__desc-box">
						<p class="about__desc">MAKI KASHU</p>
						<p class="about__desc">29歳でワインに興味を持ち始め、カルディでお手軽なデイリーワインを買ったりお店でワインを飲んだり...</p>
						<p class="about__desc">趣味は音楽/バスケ観戦/お笑い/ワイン/クラフトビール/ごはんや巡り!</p>
						<p class="about__desc">現在は資格取得に向けて緩く勉強中です。飲んだお酒を忘れないようにブログを作成しました。</p>
					</li>
				</ul>
			</div>
			<!-- about -->

		</section>
		<!-- section2 -->

		<section class="section3">

			<h2 class="ttl1">CONTACT</h2>
			<!-- ttl1 -->

			<div class="contact">
				<ul class="contact__content">
					<li class="contact__img">
						<img src="/assets/img_contact.png" alt="" width="100" height="200">
					</li>
					<li class="contact__desc-box">
						<span class="contact__ttl">EMAIL</span>
						<a href="mailto:2018casmakikashu@gmail.com" class="contact__link">2018casmakikashu@gmail.com</a
					</li>
				</ul>
			</div>
			<!-- contact -->

		</section>
		<!-- section3 -->

	</main>
	<!-- main -->

	<footer class="footer">
		<p class="footer__copyright">＠2025 MAKI KASHU</p>
	</footer>
	<!-- footer -->

</Layout>

<script type="module" src="/scripts/common.js" defer></script>